services:
  civicrm-app:
    image: civicrm:${CIVICRM_VERSION}-amd64
    user: fpm:civicrm
    command: fpm
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      civicrm-install:
        condition: service_completed_successfully
    read_only: true
    volumes:
      - civicrm:/var/www/html:ro
      - civicrm-public:/var/www/html/public:rw
      - civicrm-private:/var/www/html/private:rw
      - civicrm-ext:/var/www/html/ext:rw
      - php_fpm_sock:/run/php:rw
    healthcheck:
      test: ["CMD", "php", "/tmp/php-fpm-healthcheck.php"]
      interval: 5s
      timeout: 4s
      start_period: 10s
      retries: 3
    networks:
      - external
      - app-db
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp

  civicrm-cron:
    image: civicrm:${CIVICRM_VERSION}-amd64
    user: supercronic:civicrm
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      civicrm-install:
        condition: service_completed_successfully
    read_only: true
    volumes:
      - civicrm:/var/www/html:ro
      - civicrm-public:/var/www/html/public:rw
      - civicrm-private:/var/www/html/private:rw
      - civicrm-ext:/var/www/html/ext:rw
    command: supercronic
    healthcheck:
      test: ["CMD-SHELL", "pgrep supercronic > /dev/null || exit"]
      interval: 5s
      timeout: 4s
      start_period: 4s
      retries: 3
    networks:
      # - external
      - cron-db
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp

  civicrm-install:
    image: civicrm:${CIVICRM_VERSION}-amd64
    user: civicrm:civicrm
    depends_on:
      db:
        condition: service_healthy
    read_only: true
    volumes:
      - civicrm:/var/www/html:rw
      - civicrm-public:/var/www/html/public:rw
      - civicrm-private:/var/www/html/private:rw
      - civicrm-ext:/var/www/html/ext:rw
    environment:
      CIVICRM_DB_USER: civicrm
      CIVICRM_DB_PASSWORD: ${MYSQL_PASSWORD}
      CIVICRM_DB_HOST: db
      CIVICRM_DB_NAME: civicrm
      CIVICRM_UF_BASEURL: http://localhost:8760
      CIVICRM_LANG: de_DE
      CIVICRM_ADMIN_USER: admin
      CIVICRM_ADMIN_EMAIL: admin@example.com
      CIVICRM_ADMIN_PASSWORD: ${CIVICRM_ADMIN_PASSWORD}
      CIVICRM_CRED_KEYS: ${CIVICRM_CRED_KEYS}
      CIVICRM_SIGN_KEYS: ${CIVICRM_SIGN_KEYS}
      CIVICRM_SITE_KEY: ${CIVICRM_SITE_KEY}
    command: init
    restart: no
    networks:
      - external  # needed, because CiviCRM downlaod addtional files during install
      - install-db
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp
  
  db:
    hostname: db
    image: docker.io/library/mariadb:12.0.2
    restart: unless-stopped
    user: mysql:mysql
    read_only: true
    volumes:
      - db:/var/lib/mysql:rw
      - mysqld_run:/run/mysqld:rw
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: civicrm
      MYSQL_USER: civicrm
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - app-db
      - cron-db
      - install-db
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp

  nginx:
    image: docker.io/library/nginxinc/nginx-unprivileged:stable
    user: 101:61616
    ports:
      - 8760:8080
    read_only: true
    volumes:
      - civicrm:/var/www/html:rw
      - civicrm-public:/var/www/html/public:rw
      - civicrm-private:/var/www/html/private:rw
      - civicrm-ext:/var/www/html/ext:rw
      - php_fpm_sock:/run/php:rw
      - ./nginx.conf:/etc/nginx/conf.d/civicrm.conf:ro
      - /dev/null:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      civicrm-app:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:8081/nginx_status"]
      interval: 10s
      timeout: 5s
      start_period: 10s
      retries: 3
    networks:
      - external
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp

volumes:
  db:
  mysqld_run:
  civicrm:
  civicrm-public:
  civicrm-private:
  civicrm-ext:
  php_fpm_sock:
  apache2_run:

networks:
  external:
  app-db:
    internal: true
  install-db:
    internal: true
  cron-db:
    internal: true
