services:
  civicrm-app:
    image: civicrm:${CIVICRM_VERSION}-amd64
    user: fpm
    command: fpm
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      civicrm-install:
        condition: service_completed_successfully
    read_only: true
    volumes:
      # - civicrm_private:/var/www/html/private:rw
      # - civicrm_public:/var/www/html/public:rw
      # - civicrm_ext:/var/www/html/ext:ro
      - civicrm:/var/www/html:rw
      - php_fpm_sock:/run/php:rw
    environment:
      CIVICRM_DB_HOST: db
      CIVICRM_DB_PORT: 3306
      CIVICRM_DB_NAME: civicrm
      CIVICRM_DB_USER: civicrm
      CIVICRM_DB_PASSWORD: ${MYSQL_PASSWORD}
      CIVICRM_UF_BASEURL: http://localhost:8760
    healthcheck:
      test: ["CMD", "php", "/tmp/php-fpm-healthcheck.php"]
      interval: 5s
      timeout: 4s
      start_period: 10s
      retries: 3
    networks:
      - external
      - app-db
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp

  civicrm-cron:
    image: civicrm:${CIVICRM_VERSION}-amd64
    user: fpm:www-data
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
      civicrm-install:
        condition: service_completed_successfully
    read_only: true
    volumes:
      - civicrm:/var/www/html:ro
    environment:
      CIVICRM_DB_HOST: db
      CIVICRM_DB_PORT: 3306
      CIVICRM_DB_NAME: civicrm
      CIVICRM_DB_USER: civicrm
      CIVICRM_DB_PASSWORD: ${MYSQL_PASSWORD}
      CIVICRM_UF_BASEURL: http://localhost:8760
    command: supercronic
    healthcheck:
      test: ["CMD-SHELL", "pgrep supercronic > /dev/null || exit"]
      interval: 5s
      timeout: 4s
      start_period: 4s
      retries: 3
    networks:
      - external
      - cron-db
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp

  civicrm-install:
    image: civicrm:${CIVICRM_VERSION}-amd64
    user: civicrm:www-data
    depends_on:
      db:
        condition: service_healthy
    read_only: true
    volumes:
      - civicrm:/var/www/html:rw
    environment:
      CIVICRM_DB_USER: civicrm
      CIVICRM_DB_PASSWORD: ${MYSQL_PASSWORD}
      CIVICRM_DB_HOST: db
      CIVICRM_DB_NAME: civicrm
      CIVICRM_UF_BASEURL: http://localhost:8760
      CIVICRM_LANG: de_DE
      CIVICRM_ADMIN_USER: admin
      CIVICRM_ADMIN_EMAIL: admin@example.com
      CIVICRM_ADMIN_PASSWORD: ${CIVICRM_ADMIN_PASSWORD}
      CIVICRM_CRED_KEYS: ${CIVICRM_CRED_KEYS}
      CIVICRM_SIGN_KEYS: ${CIVICRM_SIGN_KEYS}
      CIVICRM_SITE_KEY: ${CIVICRM_SITE_KEY}
    command: init
    restart: no
    networks:
      - external
      - install-db
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp
  
      # cv api4 Domain.create values='{\"name\":\"Landhof Organisation\",\"description\":\"Landhof Vereinsmanagement System\"}' && \
      # cv api4 Setting.create values='{\"display_name_format\":\"%{first_name} %{last_name}\"}' && \
      # cv api4 Setting.create values='{\"sort_name_format\":\"%{last_name}, %{first_name}\"}' && \
      # cv api4 Setting.create values='{\"default_from_email_address\":\"landhof@example.com\"}' && \
      # cv api4 Setting.create values='{\"site_name\":\"Landhof Vereinsmanagement\"}' && \
      # cv api4 Setting.create values='{\"debug_enabled\":false}' && \
      # cv api4 Setting.create values='{\"backtrace\":false}' && \
      # cv api4 MailSettings.create values='{\"name\":\"Landhof Mail\",\"domain\":\"example.com\",\"localpart\":\"landhof\",\"return_path\":\"landhof@example.com\",\"protocol\":\"SMTP\",\"server\":\"localhost\",\"port\":25,\"is_default\":1}' && \

  db:
    hostname: db
    image: mariadb:12.0.2
    restart: unless-stopped
    user: mysql:mysql
    # read_only: true
    volumes:
      - db:/var/lib/mysql:rw
      - mysqld_run:/run/mysqld:rw
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: civicrm
      MYSQL_USER: civicrm
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - app-db
      - cron-db
      - install-db
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp

  nginx:
    image: nginxinc/nginx-unprivileged:stable
    ports:
      - 8760:8080
    read_only: true
    volumes:
      - civicrm:/var/www/html:rw
      - php_fpm_sock:/run/php:rw
      - ./nginx.conf:/etc/nginx/conf.d/civicrm.conf:ro
      - /dev/null:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      civicrm-app:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://127.0.0.1:8080/"]
      interval: 10s
      timeout: 5s
      start_period: 10s
      retries: 3
    networks:
      - external
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp

volumes:
  db:
  mysqld_run:
  civicrm:
  php_fpm_sock:
  apache2_run:

networks:
  external:
  app-db:
    internal: true
  install-db:
    internal: true
  cron-db:
    internal: true
